
<center>
    <table class="bodyBgColor" mc:hideable="" width="50%" border="0" align="center" cellpadding="0" cellspacing="0"
      bgcolor="#10163a" style="width:100%;max-width:100%;">
      <tbody>
        <tr>
          <td align="center" valign="top">

            <table class="row" width="700" border="0" align="center" cellpadding="0" cellspacing="0"
              style="width:700px;max-width:700px;" bgcolor="#10163a">
               <!-- logo -->
              <tbody>
                <tr>
                  <td align="center" valign="middle" style="padding:0;">
                    <%= image_tag  url_for("logo-games-header-admin.png"), alt: "logo",
                        :style => "display:block;border:0;width:100%;margin-top: 20px;max-width: 220px;" %>
                  </td>
                </tr>
              </tbody>
            </table>
        <tr>
          <td height="25" align="center" valign="top" style="font-size:25px;line-height:25px;">&nbsp;</td>
        </tr>
        </td>
        </tr>
      </tbody>
    </table>
    <table class="bodyBgColor" mc:hideable="" width="50%" border="0" align="center" cellpadding="0" cellspacing="0"
      bgcolor="#262c49" style="width:100%;max-width:800px;">
      <tbody>
        <tr>
          <td align="center" valign="top">

            <table class="row" width="50%" border="0" align="center" cellpadding="0" cellspacing="0"
              style="width: 85%;max-width: 650px;" bgcolor="#262c49">
               <!-- whitespace -->
              <tr>
                <td height="40">
                  <p style="line-height: 40px; padding: 0 0 0 0; margin: 0 0 0 0;">&nbsp;</p>

                  <p>&nbsp;</p>
                </td>
              </tr>
               <!-- username -->
              <tbody>
                <tr>
                  <td class="Section Headlines" align="center" valign="middle"
                    style="color:#fff;font-size:2.5rem;font-weight:700;">
                    Olá <%= @resource.name %>!
                  </td>
                </tr>
              </tbody>
               <!-- whitespace -->
              <tr>
                <td height="10" align="center" valign="top" style="font-size:10px;line-height:10px;">&nbsp;</td>
              </tr>
               <!-- main image -->
              <tbody>
                <tr>
                  <td align="center" valign="middle" style="padding:0;">
                    <a href=""><img data-crop="false" mc:hideable="" mc:edit=""
                        src="https://marketing-image-production.s3.amazonaws.com/uploads/35c763626fdef42b2197c1ef7f6a199115df7ff779f7c2d839bd5c6a8c2a6375e92a28a01737e4d72f42defcac337682878bf6b71a5403d2ff9dd39d431201db.png"
                        alt="#" border="0" width="100%" style="display:block;border:0;max-width:260px;"></a>
                  </td>
                </tr>
                <tr>
                  <td height="10" align="center" valign="top" style="font-size:10px;line-height:10px;">&nbsp;</td>
                </tr>
              </tbody>
               <!-- forgot title -->
              <tbody>
                <tr>
                  <td class="Section Headlines" align="center" valign="middle"
                    style="color:#fff;font-size:2.5rem;font-weight:700;">
                    Esqueceu sua senha?
                  </td>
                </tr>
              </tbody>
               <!-- forgot text -->
              <tr>
                <td data-size="Section Headlines" data-color="Section Headlines" class="Section Headlines"
                  align="center" valign="middle"
                  style="font-family:'Poppins',Arial,Helvetica,sans-serif;color:#f5f5f5;font-size:16px;line-height:22px;font-weight:400;letter-spacing:0px;padding:0px;padding-bottom:8px; font-weight: 400;">
                  Tudo bem. Essas coisas acontecem...Dê um click no botão abaixo para resetar sua senha.
                </td>
              </tr>
               <!-- whitespace -->
              <tr>
                <td height="10" align="center" valign="top" style="font-size:10px;line-height:10px;">&nbsp;</td>
              </tr> 
              <!-- reset button -->

              <tr>
                <td height="10" align="center" valign="top" style="font-size:10px;line-height:10px;"> <button
                    onMouseOver="this.style.backgroundColor='#ee2c10'" onmouseout="this.style.backgroundColor='#ee1c14'"
                    class="reset-button"
                    style="background-color:#ee1c14;border:none;border-radius:.2rem;cursor:pointer;padding:1.5rem 5rem;font-weight: 700;"> <%= link_to 'MUDAR MINHA SENHA', "#{message['redirect-url']}?reset_password_token=#{@token}", :style => "color:#fff;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;outline:0;padding:0;text-align:left;text-decoration:none" %></button></td>
                     
              </tr>
              <tr>
                <td height="50" align="center" valign="top" style="font-size:50px;line-height:50px;">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- whitespace -->
    <tr>
      <td height="40">
        <p style="line-height: 40px; padding: 0 0 0 0; margin: 0 0 0 0;">&nbsp;</p>

        <p>&nbsp;</p>
      </td>
    </tr>

    <table mc:hideable="" class="bodyBgColor" width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
      bgcolor="#10163a" style="width:100%;max-width:100%;">
      <tbody>
        <tr>
          <td align="center" valign="top">

            <table class="row" width="700" border="0" align="center" cellpadding="0" cellspacing="0"
              style="width:700px;max-width:700px;">
              <tbody>
                <tr>
                  <td data-bgcolor="Inner Background Color" class="whiteBgcolor containerPadding" align="center"
                    valign="top" bgcolor="#10163a">

                    <table class="row" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
                      style="width:600px;max-width:600px;">

                      <tbody>

                      <!-- Contacts info -->
                        <tr>
                          <td data-size="Section Headlines" data-color="Section Headlines" class="Section Headlines"
                            align="center" valign="middle"
                            style="font-family:'Poppins',Arial,Helvetica,sans-serif;color:#99B898;font-size:22px;line-height:28px;font-weight:400;letter-spacing:0px;padding:0px;padding-bottom:8px; font-weight: bold;">
                            Entre em contato conosco!
                          </td>
                        </tr>

                         <!-- contacts -->
                        <tr>
                          <td data-size="Section Headlines" data-color="Section Headlines" class="Section Headlines"
                            align="center" valign="middle"
                            style="font-family:'Poppins',Arial,Helvetica,sans-serif;color:#99B898;font-size:16px;line-height:22px;font-weight:400;letter-spacing:0px;padding:0px;padding-bottom:8px; font-weight: 400;">
                            Se você tem algum problema ou uma pergunta, por favor nos contate pelo <a
                              href="tel:5555555555" style="color: #99B898; text-decoration: none;">(555) 555-5555</a> ou
                            pelo email <a href="mailto:test@test2.com"
                              style="color: #99B898; text-decoration: none;">test@test2.com</a>
                            <br />
                            <p> © OneBitGames - Brasil​, São Paulo, SP, Rua João XXYYP , n <sup>o</sup> 14552</p>
                          </td>
                        </tr>
                        <tr>
                          <td height="10" align="center" valign="top" style="font-size:10px;line-height:10px;">&nbsp;
                          </td>
                        </tr>
                        <!-- Social Media -->
                        <tr>
                          <td align="center" valign="middle">
                            <table class="centerFloat" width="150" border="0" align="center" cellpadding="0"
                              cellspacing="0">
                              <tbody>
                                <tr>
                                  <td data-repeatable="" align="center" valign="middle" width="40">
                                    <table border="0" align="center" cellpadding="0" cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td align="center" valign="middle">
                                            <a href="https://pt-br.facebook.com/" style="text-decoration:none;border:0">
                                              <img data-color="Icons"
                                                src="https://marketing-image-production.s3.amazonaws.com/uploads/0a1d076f825eb13bd17a878618a1f749835853a3a3cce49111ac7f18255f10173ecf06d2b5bd711d6207fbade2a3779328e63e26a3bfea5fe07bf7355823567d.png"
                                                alt="Facebook" border="0" width="25" height="42"
                                                style="display:block;border:0;width:25px;height:42px;">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>

                                  <td align="center" valign="middle">
                                    <table class="centerFloat" width="150" border="0" align="center" cellpadding="0"
                                      cellspacing="0">
                                      <tbody>
                                        <tr>
                                          <td data-repeatable="" align="center" valign="middle" width="40">
                                            <table border="0" align="center" cellpadding="0" cellspacing="0">
                                              <tbody>
                                                <tr>
                                                  <td align="center" valign="middle">
                                                    <a href="https://twitter.com/" style="text-decoration:none;border:0">
                                                      <img data-color="Icons"
                                                        src="https://marketing-image-production.s3.amazonaws.com/uploads/6234335b200b187dda8644356bbf58d946eefadae92852cca49fea227cf169f44902dbf1698326466ef192bf122aa943d61bc5b092d06e6a940add1368d7fb71.png"
                                                        alt="Twitter" border="0" width="42" height="42"
                                                        style="display:block;border:0;width:42px;height:42px;margin-left: 15px;">
                                                    </a>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td data-repeatable="" align="center" valign="middle" width="48">
                                            <table border="0" align="center" cellpadding="0" cellspacing="0">
                                              <tbody>
                                                <tr>
                                                  <td align="center" valign="middle">
                                                    <a href="https://www.instagram.com/" style="text-decoration:none;border:0">
                                                      <img data-color="Icons"
                                                        src="https://i.ibb.co/FxF7rBB/instagram.png" alt="Instagram" border="0"
                                                        width="42" height="42"
                                                        style="display:block;border:0;width:42px;height:42px">
                                                    </a>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="30" align="center" valign="top" style="font-size:30px;line-height:30px;">
                                    &nbsp;</td>
                                </tr>
                                <tr>
                                  <td height="30" align="center" valign="top" style="font-size:30px;line-height:30px;">
                                    &nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
  </center>
 